{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Mon agence Immobiliare</h1>
        <p>Bienvenue sur l'agence...</p>

        {# Dans Symfony, on a accès à une variable globale app #}
        {{ dump(app) }}

        {# pour récupérer la route actuelle #}
        {{ app.request.get('_route') }}
    </div>

    Avec Repository
    LES DERNIERES ANNONCES
    Afficher les 4 annonces les plus récentes(par rapport à l'id)
    LES ANNONCES T4
    les annonces t4
    LES ANNONCES MAISON
    les annonces maison
    jointure dans query builder

    Lundi matin : authentification + sécurité
    lundi aprem: panier avec annonces (commande + envoi email)
    mardi matin : paiement avec Stripe
    mardi aprem: react + docker
    mercredi, jeudi, vendredi : tp Symfony e-commerce
{% endblock %}